html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(30, 38%, 92%);
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces", serif;
  line-height: 1;
}

p {
  font-size: 0.875rem;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  line-height: 1.64;
}

img {
  display: block;
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:focus {
  outline: auto 2px Highlight;
  outline: auto 5px -webkit-focus-ring-color;
}

button {
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  background-color: hsl(158, 36%, 37%);
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  gap: 0.75rem;
  padding: 0.9375rem 0;
}
button:hover {
  background-color: hsl(158, 42%, 18%);
  transition: 0.25s ease-in;
}
button:focus {
  outline: auto 2px Highlight;
  outline: auto 5px -webkit-focus-ring-color;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 37.5rem) {
  .card {
    flex-direction: row;
  }
}

@media (min-width: 37.5rem) {
  .card__header {
    flex-basis: 50%;
  }
}

.card__header img {
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}
@media (min-width: 37.5rem) {
  .card__header img {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.625rem;
  }
}

.card__body {
  background-color: hsl(0, 0%, 100%);
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  padding: 1.5rem;
}
@media (min-width: 37.5rem) {
  .card__body {
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.625rem;
    flex-basis: 50%;
    min-height: 28.125rem;
    padding: 2rem;
  }
}

.card__footer {
  width: 100%;
}

.card__category {
  font-size: 0.75rem;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  display: block;
  letter-spacing: 5px;
  line-height: 1.21;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
}
@media (min-width: 37.5rem) {
  .card__category {
    margin-bottom: 1.25rem;
  }
}

.card__title {
  margin-bottom: 1rem;
}
@media (min-width: 37.5rem) {
  .card__title {
    margin-bottom: 1.5rem;
  }
}

.card__copy {
  margin-bottom: 1.5rem;
}
@media (min-width: 37.5rem) {
  .card__copy {
    margin-bottom: 1.8125rem;
  }
}

.card__price {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
}
@media (min-width: 37.5rem) {
  .card__price {
    margin-bottom: 1.875rem;
  }
}

.current-price {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
  line-height: 1;
}

.old-price {
  font-size: 0.875rem;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
}

.card__actions form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 18.4375rem;
}

s::before {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  content: " [Old price was] ";
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 3rem;
  margin: auto;
  padding-inline: 1rem;
}
@media (min-width: 37.5rem) {
  .container {
    padding-inline: 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
@media (min-width: 37.5rem) {
  main {
    max-width: 37.5rem;
  }
}

.attribution {
  font-size: 0.75rem;
  font-weight: 500;
  color: hsl(212, 21%, 14%);
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;
}
.attribution a {
  color: hsl(158, 100%, 24%);
}
.attribution a:hover {
  color: hsl(158, 42%, 18%);
}

/*# sourceMappingURL=styles.css.map */
