// ___________________________________________________________________
// Main Section Styles
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  @media #{$brkpoint-md} {
    max-width: 37.5rem;
  }
}
